header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 5rem;
    background: rgba(1,1,1, 0.8);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    align-items: center;
}

.container svg {
    margin-left: 7px;
}

.logo {
    font-size: 2rem;
    text-decoration: none;
    color: #EEE;
    text-transform: uppercase;
    font-weight: 600;
}
